*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary: #154b0b;   /* Deep Navy */
  --secondary: #637404; /* Olive Green */
  --accent: #787f58;    /* Soft Coral */
  --background: #e2d4b9;
  --text-dark: #1A1A1A;
  --text-light: #FFFFFF;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text-dark);
}
nav{
    display: flex;
    max-width: 100%;
    height: 130px;
    background-color: white;
    justify-content: space-evenly;
    /* margin: auto; */
    align-items: center;
    position: relative;
}
/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger wrapper */
.hamburger {
  display: none;
  cursor: pointer;
  /* position: relative; */
  width: 28px;
  height: 28px;
}

/* Icons */
.hamburger i {
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hide close icon by default */
.hamburger .fa-xmark {
  opacity: 0;
  transform: rotate(-90deg);
}
/* Show close icon when checkbox is checked */
#menu-toggle:checked + .hamburger .fa-xmark {
  opacity: 1;
  transform: rotate(0);
}
#menu-toggle:checked + .hamburger .fa-bars {
  opacity: 0;
  transform: rotate(90deg);
}
nav .logo img{
    border: 0cap;
    text-decoration: none;
}

nav img{
    width: 220px;
    height: 145px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 45px;
    border: 2px var(--accent) solid;
    padding: 25px 40px;
    border-radius: 40px;
}
nav a{
    list-style: none;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    color: var(--primary);
    justify-content: center;
    font-family: 'Cinzel', serif;
}
nav a:hover{
    border: var(--secondary) 1px solid;
    /* background-color: var(--secondary); */
    padding: 10px;
    border-radius: 35px;
    color: var(--primary);
    box-shadow: 0 4px 8px rgba(52, 173, 15, 0.2);
    border-bottom: 1px solid var(--secondary);
    padding: 0.8rem 1.5rem;
    
}
/* nav section ends here */
/* All hero section here*/
/* about hero & section */
.about-hero video{
    width: 100%;
    height: 400px;
    object-fit: fill;
    filter: brightness(70%) contrast(110%);
}
.about-hero h1{
    position: absolute;
    /* top: 90px; */
    /* left: 20rem; */
    transform: translate(30%, -10%);
    color: var(--text-light);
    font-family: "Creepster", system-ui;
    font-size: 38px;
    text-align: center;
}
.about-secondpage{
    max-width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    gap: 25px;
    margin-top: -9rem;
}

.about-mission h1{
    font-size: 45px;
    color: var(--primary);
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 2rem;
}
.about-mission p{
    font-size: 18px;
    color: var(--text-dark);
    line-height: 2.0;
    /* max-width: 1000px; */
    font-weight: 600;
    font-family: 'roboto', sans-serif;
    width: 1000px;

}
.about-vision img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin-top: 1rem;
    object-fit: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}
.footer-content{
    text-align: center;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 500;
    width: 100%;

}

/* About section ends here*/
/* home hero section */
.hero-section{
    max-width: 100%;
    min-height: 550PX;
    /* gap: 10px; */
    /* padding-top: 130px; same as nav height */
    overflow: hidden;
}
.hero-section img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(63%) contrast(110%); /* darkens image */
}
.hero-section h1{
    position: absolute;
    top: 250px;
    left: 9rem;
    /* transform: translate(-50%, -50%); */
    color: var(--text-light);
    font-family: 'bebas', sans-serif;
    font-weight: 800;
    /* font-style: normal; */
    font-size: 64px;
}
.hero-section h2{
    position: absolute;
    top: 450px;
    left: 9rem;
    /* transform: translate(-50%, -50%); */
    color: var(--text-light);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    width: 80%;
}
.hero-search {
    position: absolute;
    top: 540px;
    left: 11rem;
    display: flex;
    margin-top: 25px;
    width: min(600px, 90%);
    background: white;
    border-radius: 40px;
    overflow: hidden;
}
.hero-search input {
    flex: 1;
    padding: 14px 18px;
    border: none;
    outline: none;
    font-size: 16px;
}
.hero-search button {
    padding: 0 26px;
    background: var(--primary);
    border: none;
    color: var(--text-light);
    font-weight: 600;
    cursor: pointer;
}
.hero-search button:hover {
    background: var(--secondary);
}
.search-icon {
    display: flex;
    align-items: center;
    padding-left: 18px;
    color: #666;
    padding-top: 15px;
}
.CTA{
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 650px;
    left: 40rem;
}
.CTA a{
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--primary);
    padding: 16px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid var(--secondary);
    font-family: 'cinzel', sans-serif;
}
.CTA a:hover{
    background-color: var(--secondary);
    border: 2px solid var(--primary);
}
/* main hero-section */
/* contact hero section */
.contact-hero img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(60%) contrast(110%);
}
.contact-form-section{
    display:flex;
    max-width: 100%;
    min-height: 500px;
    gap: 20px;
    /* justify-content: center; */
    padding-bottom: 8rem;
    transform: translatey(-60px);
}
.contact-text h1{
    font-size: 60px;
    padding-bottom: 25px;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    color: var(--primary);
    padding-left: 10rem;
    padding-top: 8rem;
}
.contact-text p{
    font-size: 20px;
    color: var(--text-dark);
    line-height: 2.0;
    max-width: 600px;
    padding-left: 10rem;
    padding-bottom: 3rem;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 6rem;
    padding-right: 5rem;
    /* padding-bottom: 2rem; */
    justify-content: center; 
}
.contact-form-container{
    /* height: 500px; */
    padding: 15px;
    background-color: var(--text-light);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    transform: translateY(-18px);
    
}
.contact-form-container h2{
    font-size: 28px;
    font-weight: 700;
    color: var(--primary);
    font-family: 'syne', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
.contact-form input, .contact-form textarea{
    width: 330px;
    padding: 12px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    font-size: 16px;
    font-family: 'syne', sans-serif;
}
.contact-form button{
    width: 150px;
    padding: 12px;
    background-color: var(--primary);
    color: var(--text-light);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'syne', sans-serif;
    margin-bottom: 15px;
}
.contact-form button:hover{
    background-color: var(--secondary);
}
/* contact hero section ends here */
/* our services section */
.services-section{
    max-width: 100%;
    min-height: 400px;
    /* padding: 80px 0; */
    text-align: center;
}
.services-section h1{
    font-size: 52px;
    padding-bottom: 20px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: var(--primary);
    padding-top: 5rem;
    text-align: center;
    /* padding-left: 8rem; */
}
.service-cards{
    max-width: 100%;
    min-height: 600px;
    /* justify-content: center; */
    gap: 10px;
    /* flex-wrap: wrap; */
    padding-right: 3rem;
}
.card{
    /* background-color: var(--text-light);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;  */
    width: 700px;
    height: 300px;
    /* transition: transform 0.4s, box-shadow 0.3s; */
    margin-bottom: 60px;
    margin-top: 60px;
    gap: 30px;
    display: flex;
    gap: 20px;
    justify-content:space-between;
    margin-left: 23rem;
    padding-right: 70px;
    /* align-items: center; */
}
.card2{
    /* background-color: var(--text-light);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;  */
    width: 700px;
    height: 300px;
    /* transition: transform 0.4s, box-shadow 0.3s; */
    margin-bottom: 60px;
    margin-top: 60px;
    gap: 30px;
    display: flex;
    gap: 100px;
    justify-content:flex-start;
    margin-left: 23rem;
    padding-right: 70px;
    /* align-items: center; */
    /* flex-direction: row-reverse; */
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 10rem;
}
.card2 img{
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 10rem;
}
.card-text{
    padding-left: 20px;
    padding-top: 15px;
    width: 400px;
    /* height: 100px; */
    /* text-align: center; */
}
.card-text h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--primary);
    font-family: 'syne', sans-serif;
    font-weight: 600;
    width: 50%;
}
.card-text p{
    font-size: 16px;
    color: var(--text-dark);
    line-height: 1.5;
    width: 90px;
    height: 50px;
}

/* All pages &hero section ends here */
/* services section */
.services-section{
    max-width: 100%;
    min-height: 400px;
    padding: 80px 0;
    text-align: center;
}
.service-section h1{
    font-size: 52px;
    padding-bottom: 20px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: var(--primary);
    padding-top: 5rem;
    padding-left: 12rem;
}
.service-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 8rem;
    /* padding-right: 5rem; */
    
}
.service-box{
    background-color: var(--text-light);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 330px;
    height: 500px;
    transition: transform 0.4s, box-shadow 0.3s;
    /* margin-bottom: 60px; */
    margin-top: 60px;
}
.service-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.service-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.service-box h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--primary);
    font-family: 'syne', sans-serif;
    font-weight: 600;
}
.service-box p{
    font-size: 16px;
    color: var(--text-dark);
    line-height: 1.5;
}
.service-box a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
    padding: 0.8rem;
    border-bottom: 1px solid var(--primary);
    border-radius: 30px;
    margin-left: 4rem;
    font-family: 'syne', sans-serif;
}
.service-box a:hover{
    box-shadow: 0 4px 8px rgba(52, 173, 15, 0.2);
    color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    padding: 0.8rem 1.5rem;
}
/* services section ends here */
/* service icon section */
.service-icon-section{
    max-width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* padding: 40px 0; */
    background-color: rgb(223, 223, 223);
}
.service-icon-container{
    max-width: 70%;
    min-height: 240px;
    background-color: var(--secondary);
    display: flex;
    margin-left: 14rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    transform: translateY(-70px);
    
}
.service-icon-box{
    text-align: center;
    color: var(--text-light);
    padding-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.fa-solid{
    font-size: 2rem;
    margin-bottom: 15px;
}
.service-icon-box h2{
    font-size: 20px;
    margin-bottom: 8px;
}
.service-icon-box p{
    font-size: 14px;
    line-height: 1.4;

}
/* service icon section ends here */
/* about us start here */
.about-section{
    max-width: 100%;
    min-height: 500px;
    background-color: rgb(223, 223, 223);
}
.about-header h1{
    font-size: 55px;
    padding-bottom: 25px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: var(--primary);
    transform: translateY(-80px);
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 0 70px;
}
.about-box{
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 12rem;
    padding-bottom: 3rem;
}
.about-box video{
    width: 50%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 15px;
    object-fit: fill;
}
.about-content h2{
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--primary);
    font-family: 'syne', sans-serif;
    font-weight: 600;
    padding-left: 8rem;
    text-decoration: underline;
}
.about-content p span{
    font-weight: 700;
    color: var(--secondary);
    font-size: 21px;
    font-family: 'syne', sans-serif;
    
}
.about-content p{
    font-size: 15px;
    color: var(--text-dark);
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 600;
    padding-left: 3rem;
}
.about-content a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 18px;
    /* display: inline-block; */
    padding: 0.8rem;
    border-bottom: 1px solid var(--primary);
    border-radius: 30px;
    font-family: 'syne', sans-serif;
    margin-left: 10rem;
    margin-bottom: 15px;
}
.about-content a:hover{
    box-shadow: 0 4px 8px rgba(52, 173, 15, 0.2);
    color: var(--text-light);
    border-bottom: 1px solid var(--secondary);
    padding: 0.8rem 1.5rem;
    background-color: var(--secondary);
}
/* about us ends here */
/* contact us start here */
.contact-section{
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    gap: 25px;
}
.contact-section h1{
    font-size: 45px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: var(--primary);
}
.contact-section p{
    font-size: 18px;
    color: var(--text-dark);
    line-height: 1.6;
    max-width: 700px;
}
.contact-section a{
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--primary);
    padding: 16px;
    border-radius: 25px;
}
.contact-section a:hover{
    background-color: var(--accent);
    font-family: 'syne', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
/* contact us ends here */
/* our location starts here */
.location-section{
    max-width: 100%;
    min-height: 300px;
    align-items: center;
    text-align: center;
    gap: 25px;
    background-color: rgb(223, 223, 223);
}
.location-section h1{
    font-size: 45px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    padding-top: 5rem;
}
.location-section iframe{
    width: 100%;
    height: 280px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    /* margin-bottom: 5rem; */
}
/* our location ends here */
/* footer starts here */   
footer{
    max-width: 100%;
    height: 100px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 500;
    font-family: 'syne', sans-serif;
}
/* footer ends here */


/* media query start here */

